.layout {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 150px;
  margin-bottom: 100px;
  justify-content: center; 
  width: 100%;
}

.layout-children {
  display: flex; 
  flex-flow: column nowrap; 
  margin: 0 auto;
  width:100%;
}

@media (max-width: 500px) {
  .layout {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 110vw;
  }
  .layout-children {
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}