.App {
  text-align: center;
  height: 100%;
  width: 100%
}
.loading-image{
  animation: rotation 0.8s infinite linear;
  max-width: 200px;
  top:200px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

img {
  max-width: 50vw;
}

button,
.button {
  color: #caf0f8;
  background-color: #03045e;
  padding: 5px 10px;
  font-size: 15px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

button a:visited, 
.button a:visited {
  text-decoration: none;
  color: #03045e;
}

button:hover,
.button:hover {
  background-color: #90e0ef;
  color: #03045e;
}

.take-me-home a {
  color: #caf0f8;
  text-decoration: none;
}

.take-me-home a:visited {
  color: #caf0f8;
}

.take-me-home a:hover {
  color: #03045e;
}
.taken-message {
  color: #e61e1e;
  width: 350px;
  text-align:center;
}
