.edit-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.edit-form div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.edit-form div input {
  width: 350px;
}

.edit-form div select {
  width: 358px;
}

.edit-form div textarea {
  max-width: 350px;
  min-width: 350px;
}

.edit-form .save-button {
  margin-bottom: 100px;
  margin-top: 50px;
}


@media screen and (max-width: 500px) {
  .edit-form div {
    width:60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .edit-form div input {
    max-width: 250px;
  }
  
  .edit-form div select {
    max-width: 258px;
  }

  .edit-form div textarea {
    max-width: 250px;
    min-width: 250px;
  }

  .preview-images img {
    max-width: 60vw;
  }

  .form-photos div {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .taken-message {
    width: 250px;
  }
}
