.form-container {
  display: flex;
  flex-direction: column;
  height: 40vh;
  min-width: 40vw;
  margin: 0 auto;
  border: black 1px solid;
  font-size: 15px;
  font-weight: normal;
}

h3 {
  font-size: max(2vw, 20px);
  color: #03045e;
  font-family: "Raleway", sans-serif;
}

.form-container form {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

label {
  font-size: 15px;
  font-weight: normal;
}

@media screen and (max-width: 500px) {
  .form-container form div {
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
}
