.about {
  border-top: solid 1px #00B4D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.about h3 {
  padding: 40px 0;
  margin: 0;
}

.about p {
  max-width: 50vw;
  text-align: left;
  font-size: 2vh;
  margin-top: 10px;
}

