.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.link-welcome {
  color: #00B4D8;
  margin-top: 0px;
}

.design {
  border-top: solid 1px #00B4D8;
  width: 100vw;
  padding-top: 40px;
  margin-bottom: 10px;
}

.slider-div {
  display: flex;
  justify-content: center;
  margin: 40px 0 100px 0;
}