.check-options {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0px;
}

li {
  margin: 10px;
}

.clear {
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .check-options {
    flex-wrap: wrap;
  }
}
